<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
</head>
<body>
    <h1>Editar categoría</h1>

    <form action="/categorias/<%= row.dataValues.id %>?_method=PUT" method="POST">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" value="<%= row.dataValues.nombre %>">
        <button type="submit">Guardar</button>
    </form>

    <a href="/categorias">Volver</a>
</body>
</html>