<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
</head>
<body>
    <h1>Categoría <%= row.dataValues.id %></h1>

    <h2><%= row.dataValues.nombre %></h2>

    <a href="/categorias">Volver</a>
</body>
</html>